@import 'variable';

.main-menu {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    top: 64px;
    background: #101F30;
    z-index: 9;
    transition: all 0.3s ease;

    &.open {
        left: 0;
        transition: all 0.3s ease;
    }

    ul {
        list-style: none;

        li {
            line-height: 36px;
            color: #eee;
            font-size: 15px;
            padding: 5px 0;
            border-bottom: 1px solid rgba(0,0,0,.5);

            &.mobileview {
                display: none;

                @include break-point(mobile) {
                    display: block;
                }
            }

            &:hover {
                background-color: #00AEEF;
            }

            a {
                .fa {
                    font-size: 20px;
                    width: 40px;
                    text-align: center;
                }

                .fa-chevron-right {
                    text-align: left;
                    float: right;
                    margin-top: 8px;
                }

                text-decoration: none;
                color: $white-color;
            }
        }
    }
}