$green-color:#08C076;
$white-color:#fff;
$grey-color: #f7f7f7;
$blue-color: #0f1f2f;
$purple-color:#81018a;
$black-color: #000;
$yellow-color:#dfb300;


/* Font Size*/

$LargeHeading: 48px;
$mediunHeading: 36px;
$heading: 30px;
$smallHeading:24px;
$paragraph: 15px;
$smallfont: 14px;

$mobileHeading:20px;


/* Font Weight*/

$light: 300;
$normal: 400;
$semiBold: 600;
$bold:700;